<!DOCTYPE html>
<html >
<head>
    
    <title>Error</title>
 
</head>
<link rel="icon" href="img/weather.png">
   <link rel="stylesheet" href="css/style.css" />
<body>
    <div class="main-content">
    {{>header}}
    
  <img class="error-pic" src="img/error.jpg" >
  </div>
       {{>footer}}
</body>
</html>