<!DOCTYPE html>
<html >
<head>
    
    <title>About</title>
</head>
<link rel="icon" href="img/weather.png">
<link rel="stylesheet" href="css/style.css" />
<body>
      <div class="main-content">
    {{>header}}
    <img class="potrait" src="img/harsh-big.jpg">
    </div>
    {{>footer}}
</body>
</html>