<html lang="en">
<head>
    
    <title>help</title>
</head>
<link rel="icon" href="img/weather.png">
<link rel="stylesheet" href="css/style.css" />
<body>
    <div class="main-content">
    {{>header}}
    </div>
    {{>footer}}
</body>
</html>