
body
{
    color:grey;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 16px;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content
{
    flex-grow: 1;
    font-size: 40px;
}
.potrait{
    width:150px;
  
    
}

footer
{
    background-color: lightblue;
    padding:16px;
     border-top:2px solid #333;
     color:grey;
     text-align: center;
     font-family: monospace;
     font-size: 40px;
     margin-top: 20px;
}

header
{
  
    margin-bottom:20px;
    color:grey;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
   
}

.error-pic
{
    width:300px;
    align-items: center;

}

header a
{
    color:#333;
    margin-right: 20px;
  
}

input{
    border:1px solid #ccc;
    padding:8px;
}

button{
    cursor:pointer;
    border:1px dotted #888;
    background: #888;
    padding: 8px;
    color:white;
}